:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: black
    --fonte-principal: 'Inter';

}
.body {
    background-color: #167BF7;
    color: var(--black);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
}
   .principal {
    background-image: url(disney-plus-1.png)
    background-size: contain;
    align-items: center;
    text-align: center;
   }

    .container {
        height: 35vh;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    

        .container__botao {
            background-color: var(--botao-azul);
            border-radius: 15px;
            padding: 1em;
            color: var(--black);
            display: block;
            text-decoration: none;
            margin-bottom: 1em;
        }
        
        .botao_secundario {
            background-color: transparent;
            border: 2px solid var(--branco-principal)
            display: inline-block;
            margin-top: 1em;

        }

        .container__aviso {
            font-size: 15px;
            color: var(--black);
        
        }

        .container__titulo {
            font-size: 28px;
            font-weight: 700;
        }

        .container__imagem {
            margin: 1em 0 2em 0;
            
        }

        .container__caixa {
            margin: 0 6em;
        }
        
        .secundario__imagem {
            margin:0 55em ;
            width: 80%;
        }

        .secundario {
            margin: 0 10em;
        }

        .descricao__titulo {
            font-weight: 700;
            font-size: 18px;
            color: var(--black);
            margin-bottom: 0.1em;

        }

        .descricao__texto {
            color: var(--black);
            align-items: normal
        }

        .secundario__botao {
            display: inline-block;
            margin-top: 1em;
        }

        .container__descricao {
            padding: 2em;
        }